<div class="footer">
    <div class="first">
        <h3>Event & Bootcamp</h3>
        <ul>
            <li>Web Development</li>
            <li>Mobile Development</li>
            <li>UI Design</li>
            <li>UI Research</li>
            <li>Presentation</li>
        </ul>
    </div>
    <div class="second">
        <ul>
            <li>Comunication</li>
            <li>Video Production</li>
            <li>Digital Marketing</li>
            <li>Branding</li>
        </ul>
    </div>
    <div class="third"> 
        <h3>About Owlearn</h3>
        <ul>
            <li>Adminission Info</li>
            <li>Article</li>
            <li>Group & Referral Program</li>
            <li>Careers</li>
        </ul>
    </div>
    <div class="fourth">
        <h3>Contact</h3>
        <ul>
            <li style=" color: #086BED">support@edtech.com</li>
            <li style=" color: #086BED">(+62) 85923935983</li>
            <li>Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit. </li>
           <li>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-youtube"></i>
        </li>
        </ul>

    </div>
</div>
<!-- --------------------- -->

<div class="last">
    Copyright © 2021 Owlearn. All Rights Reserved.
</div>